# Created by Nimby
--path:"urlly/src"
--path:"bitty/src"
--path:"libcurl"
--path:"chroma/src"
--path:"curly/src"
--path:"opengl/src"
--path:"puppy/src"
--path:"ws/src"
--path:"flatty/src"
--path:"crunchy/src"
--path:"nimsimd/src"
--path:"fluffy/src"
--path:"openai_leap/src"
--path:"shady/src"
--path:"jsony/src"
--path:"webby/src"
--path:"bumpy/src"
--path:"MCPort/src"
--path:"genny/src"
--path:"vmath/src"
--path:"mummy/src"
--path:"supersnappy/src"
--path:"boxy/src"
--path:"windy/src"
--path:"zippy/src"
--path:"cligen"
--path:"silky/src"
--path:"fidget2/src"
--path:"pixie/src"
